/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body,
button {
  font-family: 'Russo One', sans-serif; }

.table {
  border: solid 1px #222;
  font-size: 1.6rem;
  text-align: center; }

.row {
  border-bottom: solid thin #666;
  height: 4rem; }
  .row--content {
    background: ghostwhite;
    color: #222; }
    .row--content:hover {
      background: #ddd; }
  .row--header {
    background: dodgerblue;
    color: ghostwhite; }
  .row td,
  .row th {
    vertical-align: middle; }

.col--title, .col--author {
  width: 25rem; }

.col--pages, .col--read {
  width: 10rem; }

.col--del {
  width: 5rem; }

.del:hover {
  color: red;
  cursor: pointer; }

.del {
  padding: 0;
  transition: all .1s; }

.del:active {
  transform: scale(0.9); }

.yes,
.no {
  cursor: pointer;
  transition: all .2s; }

.yes::after {
  content: "yes"; }

.no::after {
  content: "no"; }

.read {
  padding: 0;
  transition: all .3s;
  cursor: pointer; }

.green-hover:hover {
  color: green; }

.red-hover:hover {
  color: red; }

.btn {
  padding: 0;
  background-color: #222;
  color: ghostwhite;
  font-size: 1.6rem;
  height: 3.8rem;
  width: 12rem;
  border: solid 1px #666;
  border-radius: .4rem;
  cursor: pointer; }
  .btn:hover {
    opacity: .9; }
  .btn:active {
    transform: translateY(0.1rem); }
  .btn:focus {
    outline: none; }
  .btn--save {
    background-color: dodgerblue; }

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }
  .dialog__window {
    position: absolute;
    padding: 2rem;
    top: 50%;
    left: 50%;
    background-color: #f7f7f7;
    width: 40rem;
    height: 40rem;
    transform: translate(-50%, -50%);
    border: #666 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .dialog__title {
    font-size: 2.4rem; }
  .dialog__form {
    font-size: 1.6rem;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .dialog__form input {
      height: 3.5rem;
      min-width: 2rem;
      padding: 1rem;
      background-color: ghostwhite;
      border: 1px solid #666; }
    .dialog__form div {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center; }
  .dialog__close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 2rem;
    cursor: pointer; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#f7f7f7, #ddd);
  background-attachment: fixed; }

.title-area {
  width: 75rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.title {
  font-size: 2.5rem; }

.button-area {
  width: 75rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center; }
